@import "tailwindcss";

body {
    font-family: 'Comfortaa', cursive;
}

.scroll-thin {
    scrollbar-width: thin;
    scrollbar-color: #9ca3af transparent;
}

.scroll-thin::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.scroll-thin::-webkit-scrollbar-track {
    background: transparent;
}

.scroll-thin::-webkit-scrollbar-thumb {
    background-color: #9ca3af;
    border-radius: 4px;
}

.scroll-thin::-webkit-scrollbar-thumb:hover {
    background-color: #6b7280;
}

